.modal-air-prompt {
    position: fixed;
    top: 30vh;
    right: 33vw;
    height: 100px;
    width: 140px;
    background-color: rgb(23, 145, 145);
    color: rgb(252, 252, 239);
    border: solid 2px black;
    font-size: 16px;
    text-align: center;
    padding: 4px;
}

.modal-air-prompt .title {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 12px;
    text-decoration: underline;
}

.modal-air-prompt .input {
    width: 80px;
    background-color: azure;
}

.modal-air-prompt .ok {
    position: absolute;
    width: 50px;
    bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(0, 87, 87);
    color: beige;
    border: solid 1px;
    border-color: white black black white;
    cursor: pointer;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.modal-air-prompt .close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 14px;
    background-color: azure;
    border: solid 1px;
    border-color: white black black white;
    cursor: pointer;
}

.modal-air-prompt .ok:hover {
    background-color: rgb(0, 78, 78);
}

.modal-air-prompt .close:hover {
    background-color: rgb(228, 228, 210);
}

.modal-air-prompt .close:active {
    border-color:  black rgb(113, 113, 113) rgb(113, 113, 113) black;
}
.modal-air-prompt .ok:active {
    border-color:  black rgb(113, 113, 113) rgb(113, 113, 113) black;
}

