.header-continer {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 80px;
    background-color: rgb(0, 53, 57);
    color: azure;
    border: rgb(125, 125, 125) solid 3px;
    display: flex;
}

.menu-title {
    display: flex;
}

.time-continer {
    display: flex;
    flex-direction: column;
    width: 160px;
    text-align: center;
    align-items: center;
}

.time-continer p {
    margin: 5px;
}

.time {
    width: 120px;
    border: azure solid 2px;
}

.time p {
    margin: 1px;
}

.header-title {
    text-align: center;
    margin-left: 4vw;
}

.header-title p {
    font-size: 23px;
    margin: 0;
    margin-top: 5px;
}

.header-title h1 {
    font-size: 40px;
    margin: 0;
}

.menu-buttons {
    display: flex;
    margin-left: auto;
}

.menu-buttons .button {
    width: 100px;
    height: 100%;
    font-size: 14px;
    color:  rgb(0, 42, 45);
    font-weight: bold;
    border: solid 2px;
    border-color: white black black white;
    cursor: pointer;
    position: relative;
}

.menu-buttons .button:hover {
    background-color: rgb(227, 221, 213);
}

.menu-buttons .button:hover p {
    background-color: rgb(227, 221, 213);
}

.menu-buttons .button:active {
    border-color:  black rgb(113, 113, 113) rgb(113, 113, 113) black;
}

.header-continer .button .img {
    width: 80%;
    height: 55%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5px;
    display: inline;
}

.menu-buttons .button:hover .img {
    width: 84%;
    height: 57%;
    /* left: 8px; */
    bottom: 4px;
}


.menu-buttons .button p {
    position: absolute;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    display: inline;
    top: 0;
    left: 0;
}

.menu-buttons .menu-login {
    width: 150px;
}

.menu-buttons .menu-login .icon-continer {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.header-continer .icon-continer .text {
    width: 50px;
}



.header-continer .icon-continer .icon {
    height: 45px;
    width: 80px;
}

.menu-buttons .button:hover .icon-continer .icon {
    height: 47px;
    width: 88px;
}


.header-continer .menu-login .display {
    height: 20px;
    margin-top: 6px;
    background-color: rgb(208, 215, 223);
    font-weight: normal;
    font-size: 17px;
    color: black;
    border: solid 1px;
    border-color: black white white black;
}