.login-continer {
    position: absolute;
    top: 120px;
    right: 50px;
    height: 170px;
    width: 270px;
    background-color: rgb(23, 145, 145);
    color: rgb(252, 252, 239);
    border: solid 2px black;
    font-size: 16px;
    text-align: center;
    padding: 4px;
}

.login-continer .title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.login-continer .input {
    margin-top: 10px;
    background-color: azure;
}

.login-continer .incorrect {
    color: red;
    background-color: beige;
    position: relative;
    margin-top: 8px;
}

.login-continer .ok {
    position: absolute;
    width: 50px;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(0, 87, 87);
    color: beige;
    border: solid 1px;
    border-color: white black black white;
    cursor: pointer;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.login-continer .close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 16px;
    background-color: beige;
    border: solid 1px;
    border-color: white black black white;
    cursor: pointer;
}

.login-continer .ok:hover {
    background-color: rgb(0, 78, 78);
}

.login-continer .close:hover {
    background-color: rgb(228, 228, 210);
}

.login-continer .close:active {
    border-color:  black rgb(113, 113, 113) rgb(113, 113, 113) black;
}
.login-continer .ok:active {
    border-color:  black rgb(113, 113, 113) rgb(113, 113, 113) black;
}

.login-continer .icon {
    height: 45px;
    position: absolute;
    left: 0;
    top: 3px;
}

